<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>LC</servlet-name>
        <servlet-class>pack1.LcSrv</servlet-class>
		<load-on-startup>1</load-on-startup>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>LC</servlet-name>
        <url-pattern>/*.xyz</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ABC</servlet-name>
        <servlet-class>ReqTestSrv</servlet-class>

    </servlet>
    

    <servlet-mapping>
        <servlet-name>ABC</servlet-name>
        <url-pattern>/rurl</url-pattern>
    </servlet-mapping>


<!-- JSPC servlet mappings end -->

</web-app>
