<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>f</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>f</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>s</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>t</servlet-name>
        <servlet-class>ThirdServlet</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>t</servlet-name>
        <url-pattern>/ThirdServlet</url-pattern>
    </servlet-mapping>

</web-app>