<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>URLFFSession</servlet-name>
        <servlet-class>URLFFSession</servlet-class>
    </servlet>
 <servlet-mapping>
        <servlet-name>URLFFSession</servlet-name>
        <url-pattern>/URLFFSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>URLSFSession</servlet-name>
        <servlet-class>URLSFSession</servlet-class>
    </servlet>
 <servlet-mapping>
        <servlet-name>URLSFSession</servlet-name>
        <url-pattern>/URLSFSession</url-pattern>
    </servlet-mapping>

    


</web-app>
