<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <filter>
		<filter-name>f</filter-name>
		<filter-class>FormatFilter</filter-class>
 </filter>
 <filter-mapping>
		<filter-name>f</filter-name>
		<servlet-name>abc</servlet-name>
 </filter-mapping>

  <servlet>
		<servlet-name>abc</servlet-name>
	   <servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/First</url-pattern>
  </servlet-mapping>
</web-app>